nav {
  background-color: black;
  color: #FFF;
  height: 70px;
  line-height: 70px;
  width: 100%;
}

nav.tacked {
  position: fixed;
  top: 0;
}

nav a {
  color: white;
  display: inline-block;
  padding: 0 28px;
  text-decoration: none;
}

nav a.active, nav a:hover {
  background: gray;
}
