* {
  padding: 0px;
}

header {
  background-image: url("01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: Aqua;
  src: url("aqua.ttf");
}

@font-face {
  font-family: Polya;
  src: url("POLYA.otf");
}

@font-face {
  font-family: Farray;
  src: url("FARRAY.otf")
}

header {
  font-family: Polya;
}

.header-nametag {
  color: white;
  text-align: center;
  font-size: 50px;
}

span p {
  font-size: 25px;
  padding-bottom: 15px;
  font-family: Polya;
}

.navbar {
  padding: 0;
  width: 100%;
}
