* {
  padding: 0px;
}

header {
  background-image: url("01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: Aqua;
  src: url("aqua.ttf");
}

@font-face {
  font-family: Polya;
  src: url("POLYA.otf");
}

@font-face {
  font-family: Farray;
  src: url("FARRAY.otf");
}

@font-face {
  font-family: Parley;
  src: url("parley regular.ttf")
}

@font-face {
  font-family: ParleyBold;
  src: url("parley bold.ttf")
}

@font-face {
  font-family: Blanka;
  src: url("Blanka-Regular.otf")
}

@font-face {
  font-family: Aquatico;
  src: url("Aquatico-Regular.otf")
}

header {
  font-family: Polya;
}

.header-nametag {
  color: #fdffe2;
  text-align: center;
  font-size: 50px;
}

span p {
  font-size: 35px;
  padding-bottom: 5px;
  font-family: Polya;
  margin-bottom: 0px;
}

.navbar {
  text-align center
  width: 100%;
}

.navbar.center {
  display: inline-block;
}

.nav-item {
  color: #8D8D8D;
  font-family: Aquatico;
  font-size: 18px;
  text-align: center;
}

.nav-item a {
  text-align: center;
  color: #bababa;
}

.card-body {
  box-sizing: content-box;
}

.card-body h3 {
  font-family: Aquatico;
  text-align: center;
}

.card-body
